name: PR Checks

on:
  pull_request:

jobs:
  validate_app_config:
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ github.event.pull_request.number }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r automation/template_validation/requirements.txt

      - name: Run Python script to check if all XML files edited in PR pass app config validation
        run: for file in $(gh pr view $PR_NUMBER --json files --jq '.files.[].path' | grep 'templates/.*\.xml'); do python automation/template_validation/validate_app_config.py "$file"; done
        continue-on-error: false
