name: Validate Template

on:
  pull_request:
    types:
      - opened
      - edited
      - ready_for_review
      - reopened

jobs:
  validate_app_config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PRIVILEGED_GITHUB_PAT }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r automation/template_validation/requirements.txt

      - name: Run Python script to check if all XML files edited in PR pass app config validation
        run: for file in $(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep 'templates/.*\.xml'); do python automation/template_validation/validate_app_config.py "$file"; done
        continue-on-error: false
